
# Try to download the newest version of gitlab
- name: Download newest version of gitlab
  ansible.builtin.apt:
    name: gitlab
  register: package_download
  failed_when: package_download.rc != 0

# If package download failed. Inform user they need to check upgrade path.
- name: Failed to download newest version of gitlab
  echo: |
    "Gitlab Failed to update."
    "Probably because it is too outdated and must follow a specific upgrade path"
    "Check this website for the upgrade Path:"
    "https://gitlab-com.gitlab.io/support/toolbox/upgrade-path/"
  when: package_download.rc != 0

# TODO - Automate the upgrade path. A huge undertaking for little gain.

# try update
- name: Update GitLab to the latest version
  command: gitlab-ctl upgrade
  become: yes
  become_user: root
  register: update_result
  failed_when: update_result.rc != 0

# if update fails, check upgrade path
- name: Check GitLab version
  command: 
  register: gitlab_status
  when: update_result is failed

- name: Restart gitlab
  command: gitlab-ctl Restart